.root {
  padding: 0.5em;
}

.dropdown {
  margin-bottom: 1em;
  margin-right: 1em;
}

.dropdown-content {
  max-height: 400px;
  overflow-y: auto;
}

.flex {
  display: flex;
}

h2 {
  margin: 0;
  padding: 0;
}